<div class="shadow-md bg-white sticky top-0">
  <ul class="flex justify-between">
    <li class="mr-3">
      <a
        class="leading-8 p-2 font-normal inline-block px-4 text-slate-800 border-b-2 border-sky-500 text-sm"
        href="/"
        >Recipes</a
      >
      <a
        class="leading-8 p-2 font-normal inline-block border-none border-white hover:border-gray-200 text-slate-600 px-4 text-sm"
        href="/cookbooks"
        >Cookbooks</a
      >
    </li>
    <li></li>
    <li class="mr-3">
      <a
        class="leading-8 p-2 font-normal inline-block text-blue-600 dark:text-blue-500 hover:underline text-sm"
        href="/login"
        >Login</a
      >
    </li>
  </ul>
</div>
